#fabricating-zone{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#fabricating-zone .nav-tabs .nav-link.active{
  color: #fff!important;
  background-color: #000;
  border: none;
}

#fabricating-zone .nav-tabs .nav-link{
  color:#000;
}

#fabricating-zone .call-button{
  position: fixed;
  right: 0px;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 0px 7px 0 rgba(0,0,0,0.19);
  border: none;
  bottom: 0px;
  background-color: #32cd32;
}

#fabricating-zone .call-button:hover{
  background-color: #FFF;
  border: 1px solid #32cd32;
}

#fabricating-zone .call-button:hover .call-icon{
  color: #32cd32;
}

/* info button */

#fabricating-zone .info-button{
  position: fixed;
  right: 0px;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 0px 7px 0 rgba(0,0,0,0.19);
  border: none;
  bottom: 4rem;
  background-color: #1ac5ff;
}

#fabricating-zone .info-button:hover{
  background-color: #FFF;
  border: 1px solid #1ac5ff;
}

#fabricating-zone .info-button:hover .info-icon{
  color: #1ac5ff;
}

#fabricating-zone .fabricating-info{
  background-color: #000;
  border-color: #000;
  padding: 0;
  width: 1.5rem;
  border-radius: 50%;
  height: 1.5rem;
  margin-left: 0.5rem;
}

#fabricating-zone .fabricating-info-icon{
  color:#fff;
}

#fabricating-zone .fabricating-info:hover{
  background-color: #fff;
  border-color: #000;
}

#fabricating-zone .fabricating-info:hover .fabricating-info-icon{
  color:#000;
}
