#schedule-call .btn-outline-dark{
  color: #000;
  border-color: #000;
  height: 3rem;
  border-radius: 1.5rem;
  margin: 0.2rem;
}

#schedule-call .btn-outline-dark:hover{
  color: #fff;
  border-color: #000;
  background-color: #000;
}

#schedule-call .selected-slot{
  color: #fff;
  background-color: #000;
}