#designing-zone{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#designing-zone .nav-tabs .nav-link.active{
  color: #fff!important;
  background-color: #000;
  border: none;
}

#designing-zone .nav-tabs .nav-link{
  color:#000;
}