#stages .new-stage{
  width:100%;
  display:flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#stages .card{
  border:none;
  margin-bottom: 1rem;
}

#stages .card .active-stage{
  background-color: #000;
  color: #fff;
}

#stages .btn-outline-dark{
  color: #000;
  border-color: #000;
}

#stages .btn-outline-dark:hover, #stages .btn-outline-dark:active{
  color: #fff;
  background-color: #000;
}

.btn-stage-dark{
  color: #000;
  border-color: #000;
  height: 3rem;
  border-radius: 1.5rem;
  margin: 0.2rem;
}

.btn-stage-dark:hover{
  color: #fff;
  border-color: #000;
  background-color: #000;
}