#stages .new-stage{
  width:100%;
  display:flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#stages .card{
  border:none;
  margin-bottom: 1rem;
}

#stages .card .active-stage{
  background-color: #000;
  color: #fff;
}