

@media (min-width: 300px) {
  .content-container {
      flex-direction: column;
  }
}

@media (min-width: 600px) {
  .content-container {
      flex-direction: row;
  }
}

.main-content {
  flex: 1;
}
